<style>
    body {
            margin: 0;
            padding: 0;
            animation: bgcolor infinite 5s;
        }
        @keyframes bgcolor{
            0%
            {
                background: #eccc68;
            }
            20%
            {
                background:#ff7f50 ;
            }
            40%
            {
                background: #ff6348;
            }
            60%
            {
                background:#ff6b81 ;
            }
            80%
            {
                background: #feca57;
            }
            100%
            {
                background:#eccc68 ;
            }
        }

</style>
<body>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p style="font-size:60px; font-family: 'freestyle script';margin-left: 35px;">Student Dashboard</p>
            <h1><i class="fas fa-yin-yang fa-3x"></i></h1>
            <p>Create an account or login</p>
            <a href="/user/register1" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/user/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>
</body>